//vars font
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
$textBold: bold;
$fontTitulos: 2rem;
$generalFontsize: font-size 62.5%;

//vars color
$cardOfertaColor: linear-gradient(#0000005c, #ffffffe0);
$textWhite: #f7f3f3;
$textRecoCarrusel:#e5e1e1de;
$filtrosColorLabel: #21212117;
$filtrosBoton:#e0d1d1f1;
$filtrosBotonHover: linear-gradient(180deg, #0000005c, #ffffffe0);
$cardProductosColor:#fffefeb3;
$h1Bgcolor:#007E8C;
$bgBody: #000000;
$bgFiltros: #fffefec8;
$bgAside:#bfbd49a9;
$bgProductos: #e5e1e1de;
$bgNavFooter:#000000bd;

//mixin
@mixin medias($breakpoint) {
    @if $breakpoint==768px {
        @media (min-width: 768px) {
            @content;
        }
    }

    @if $breakpoint==992px {
        @media (min-width: 992px) {
            @content;
        }
    }

    @if $breakpoint==1100px {
        @media (min-width: 1100px) {
            @content;
        }
    }

    @if $breakpoint==1300px {
        @media (min-width: 1300px) {
            @content;
        }
    }

    @if $breakpoint==1400px {
        @media (min-width: 1400px) {
            @content;
        }
    }
}

@mixin titulos ($bgcolor, $font-size, $text-aling, $padding) {
    background-color: $bgcolor;
    font-size: $font-size;
    text-align: $text-aling;
    padding: $padding;
    width: 100%;
}
