.bgBody{
    background-image: url(/src/img/bg_body.svg);
    background-size: 100%;
    background-color: #000000;
}

.navLogo{
    width: 100%;
    margin-right: 40px;
}

.navStyle{
    background-color: #000000bd;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    a{
        font-size: 1.5rem;
        color: white;
        font-weight: 400;
        text-decoration: none;
        list-style: none;
        
    }

}

.containerNav{
    justify-content: end;
    align-items: flex-start;
    margin: auto;
}

.divCart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

}

.cart{
    width: 30px;
    height: 30px;
    position: static;
}

.textWhite{
    color: white;
}

.containerItemsStyle{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px auto;
    
}

.cardStyle{

    display: flex;
    align-items: center;
    margin: 10px 20px;
    width: 15%;
    text-align: center;

}

.containerItemDetail{
    width: 80%;
    margin: 15px auto;
    justify-content: space-evenly;
}

.imgItemDetail{
    width: 30%;
    background-color: black;
    
}

.textItemDetail{

    margin: 0px 20px;
    h2,h3,p{
        color: white;
        text-align: center;
    }

    h3{
        font-size: 1.5rem;
        text-align: center;
    }

    p{
        font-size: 2rem;
        margin-top: 40px;

    }
}

.numberCount{
    color: white;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 1,5rem;
}

.itemCount{
    text-align: center;
    width: 100%;
    padding: 5px;
}

